@using SmartBooking.BlazorUI.Services
@inject AuthenticationStateProvider AuthStateProvider

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SmartBooking.BlazorUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <MudNavLink Href="timeslots" Icon="@Icons.Material.Filled.Schedule">
        Time Slots
    </MudNavLink>
    <AuthorizeView Roles="Admin">
        <MudNavLink Href="admin" Icon="@Icons.Material.Filled.AdminPanelSettings">
            Admin
        </MudNavLink>
        <MudNavLink Href="admin/users" Icon="@Icons.Material.Filled.AdminPanelSettings">
            Users
        </MudNavLink>
    </AuthorizeView>
    <MudNavLink Href="bookings" Icon="@Icons.Material.Filled.List">
        Bookings
    </MudNavLink>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}